@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,600,700|Muli:300,400,600,700,800');


/*****************
	Variables
******************/
$accent: #e04c86;
$darkest: #1f1f1f;
$darker: #343434;
$lighter: #d9d9d9;
$lightest: #f5f5f5;
$body-color: #747474;
$heading-color: #515151;

$heading-font: 'Maven Pro', sans-serif;
$body-font: 'Muli', sans-serif;

$ease-out: all 0.3s ease-out;


/****************
	  Mixins
*****************/
@define-mixin vertical-centered {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@define-mixin clearfix {
	&::after {
		clear: both;
		content: "";
		display: table;		/* for extra browser support */
	}
}

@define-mixin atSmall {
	@media (min-width: 530px) {
		@mixin-content;
	}
}

@define-mixin atMedium {
	@media (min-width: 800px) {
		@mixin-content;
	}
}

@define-mixin atLarge {
	@media (min-width: 1010px) {
		@mixin-content;
	}
}
