/*************************
	Sectioned Features
**************************/
.features {
	
	&__heading {
		align-items: center;
		display: flex;
		justify-content: center;
		margin-bottom: 0;
		height: auto;
		@mixin atMedium {
			min-height: 40px;
		}
	}
	
	.row {
		margin: 70px 0;
	}

	.icon {
		margin: 0 20px;
	}
	.icon.mouse {
		height: 33px;
	}
	.icon.dash {
		height: 18px;
	}
	.icon.page {
		height: 28px;
	}
	.icon.gears {
		height: 33px;
	}

	&__desc {
		color: $body-color;
		font-family: $body-font;
		font-weight: 300;
		font-size: 0.83rem;
		line-height: 2;
		text-align: justify;
		margin: 0 auto;
		width: 80%;
		@mixin atMedium {
			width: 100%;
		}
	}
}


/********************
	Main Features
*********************/
.main-features {
	padding-bottom: 70px;

	&__heading {
		margin-bottom: 15px;
		@mixin atMedium {
			margin-bottom: 80px;
		}
	}

	&__radical-features {
		@mixin atMedium {
			padding-right: 100px;
		}
	}

	&__list {
		left: 40px;
		list-style-image: url('../../images/check.png');
		padding: 0;
		position: relative;
		@mixin atMedium {
			left: 20px;
			padding: 10px 0;
		}
	}

	&__image {
		position: relative;
		margin-top: 40px;
		max-width: 100%;
		@mixin atMedium {
			margin-top: 0px;
		}

		img {
			width: 100%;
		}

		&::before {
			background-color: $darkest;
			content: "";
			display: inline-block;
			height: 460px;
			position: absolute;
			left: 0;
			top: -35px;
			width: 3px;
			z-index: 2;
			@mixin atMedium {
				left: 12px;		/* padded width of .row--padded's children */
			}
		}
	}

	.button-container {
		text-align: center;
		width: 100%;
		@mixin atMedium {
			text-align: left;
			width: auto;
		}
	}

	&__btn {
		margin: 7px;
		@mixin atMedium {
			margin-top: 20px;
		}
	}
}