.projects {
	padding: 70px 0;

	&__gallery {
		height: 300px;					/* same height as img-container */

		.stretched-container {
			display: flex;
			overflow-x: scroll;
			overflow-y: hidden;

			&::-webkit-scrollbar-thumb {
				background-color: $darkest;
			}
			&::-webkit-scrollbar {
				background-color: rgba($body-color, 0.7);
				border-bottom: 3px solid white;
				border-top: 3px solid white;
				height: 7px;
			}
		}

		&--img-container {
			flex-shrink: 0;
			height: 300px;
			width: 450px;
		}

		&--img {
			height: 100%;
			object-fit: cover;
			transition: $ease-out;
			transition-delay: 0.15s;
			width: 100%;

			&:hover {
				transform: scale(0.9);
			}
		}
	}
}