@import 'normalize.css';
@import '_config';
@import '_navigation';
@import '_header';
@import '_rows';
@import '_features';
@import '_projects';
@import '_footer';


/**********************
	General Styles
***********************/
* {
	box-sizing: border-box;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
	padding-inline-end: 0;
}

html {					/*	override browser default??	*/
	line-height: 1;
}

body {
	background-color: white;
}

a {
	text-decoration: none;
}

.wrapper {
	margin: 0 auto;
	max-width: 1100px;
	width: 90vw;
	@mixin atMedium {
		width: 85vw;
	}
	@mixin atLarge {
		width: 70vw;
	}
}

.stretched-container {
	left: 0;
	position: absolute;
	width: 100vw;
}

::selection {
	background-color: $body-color;
	color: white;
}

.centered-heading {
	@mixin heading;
}

.centered-subheading {
	@mixin subheading;
}

.small-heading {
	color: $heading-color;
	font-family: $heading-font;
	font-size: 1.3rem;
	font-weight: 400;
	margin: 25px 0;
	text-align: left;
}

.basic-paragraph {
	color: $body-color;
	font-family: $body-font;
	font-weight: 300;
	font-size: 0.93rem;
	line-height: 2;
	margin: 20px 0;
}

/**********************
	Button styling
***********************/
.button {
	background-color: transparent;
	border: 1px solid $darkest;
	cursor: pointer;
	display: inline-block;
	height: 40px;
	overflow: hidden;
	position: relative;
	transition: $ease-out;
	&:hover {
		& .inner {
			right: 97%;
		}
		& .button__link {
			color: $body-color;
		}
	}
}

.inner {
	background-color: $darkest;
	height: 100%;
	position: absolute;
	right: 0;
	transition: $ease-out;
	width: 100%;
	z-index: 1;
}

.button__link {
	color: white;
	font-family: $body-font;
	font-size: 0.85rem;
	padding: 0 40px;
	position: relative;
	text-decoration: none;
	top: 30%;
	transition: $ease-out;
	z-index: 3;
}